<%- include('./partials/header') %>

<body>
  <h2>Tickets</h2>
  <table>
    <thead>
      <tr>
        <th>Seat</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% tickets.forEach(function(t) { %>
        <tr>
          <td><%= t.seat %></td>
          <td><%= t.price %></td>
        </tr>
        <% }) %>
    </tbody>
  </table>
  <h3>Enter a New Ticket</h3>
    <form action="/flights/<%= flightId %>/ticket" method="POST">
      <label>Seat:
        <input type="string" required pattern="[A-F][1-9]\d?">
      </label><br>
      <label>Price:
        <input type="number" name="price">
      </label><br>
        <input type="submit" value="New Ticket">
    </form>
</body>

<%- include('./partials/footer') %>