<%- include('../partials/header') %>

<body>
<section id="show-page">
  <div>Airport: </div>
  <div><%= flight.airport %></div>
  <div>Airline: </div>
  <div><%= flight.airline %></div>
  <div>Flight Number: </div>
  <div><%= flight.flightNo %></div>
  <div>Departs: </div>
  <div><%= flight.departs %></div>
</section>
<br>
<h2>Destinations</h2>
<form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
  <label>Destination:
    <select name="airport" >
        <option value="LAX">LAX</option>
        <option value="SFO">SFO</option>
        <option value="IAD">IAD</option>
        <option value="BOS">BOS</option>
    </select>
  </label><br>
  <label>Arrival:
    <input type="datetime-local" name="arrival"> 
  </label><br>
    <input type="submit" value="Add Destination">
</form>
<section id="show-page">
  <% flight.destinations.forEach(function(f) { %>
    <div>Airport</div>
    <div><%= f.airport %></div>
    <div>Arrival</div>
    <div><%= f.arrival %></div>
  <% }) %>
</section>
</body>

<%- include('../partials/footer') %>