<%- include('../partials/header') %>

<body>
<section id="show-page">
  <div>Airport: </div>
  <div><%= flight.airport %></div>
  <div>Airline: </div>
  <div><%= flight.airline %></div>
  <div>Flight Number: </div>
  <div><%= flight.flightNo %></div>
  <div>Departs: </div>
  <div><%= flight.departs %></div>
</section>
<br>
<h2><strong>Destinations</strong></h2>
<form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
  <label>Destination:
    <select name="airport" >
        <option value="LAX">LAX</option>
        <option value="SFO">SFO</option>
        <option value="IAD">IAD</option>
        <option value="BOS">BOS</option>
    </select>
  </label>
  <label>Arrival:
    <input type="datetime-local" name="arrival"> 
  </label>
    <input type="submit" value="Add Destination">
    <section id="show-page">
      <% flight.destinations.forEach(function(f) { %>
        <div>Airport</div>
        <div><%= f.airport %></div>
        <div>Arrival</div>
        <div><%= f.arrival %></div>
      <% }) %>
    </section>
</form>
<br>
<h2><strong>Tickets</strong></h2>
  <table>
    <thead>
      <tr>
        <th>Seat</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% tickets.forEach(function(t) { %>
        <tr>
          <td><%= t.seat %></td>
          <td><%= t.price %></td>
        </tr>
        <% }) %>
    </tbody>
  </table>
  <h3>Enter a New Ticket</h3>
    <form action="/flights/<%= flight._id %>/ticket" method="POST">
      <label>Seat:
        <input type="string" name="seat" required pattern="[A-F][1-9]\d?">
      </label><br>
      <label>Price:
        <input type="number" name="price">
      </label><br>
        <button type="submit">New Ticket</button>
    </form>
</body>

<%- include('../partials/footer') %>